<h5 class="ui header">{{ 'sylius.ui.taxons'|trans }}</h5>
<div class="ui divided selection list">
    {% for taxon in product.taxons %}
        <a class="item" href="{{ path('sylius_admin_taxon_update', {'id' : taxon.id }) }}">
            <div class="ui blue horizontal tiny label">
                 {{ taxon.fullname }}
            </div>
        </a>
    {% endfor %}
</div>
