<div class="ui stackable grid"
     style="margin: 0;"
>
    <div class="three wide column">
        <div class="ui ">
            {% include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_main.html.twig' with {'product': data} %}
        </div>
    </div>

    {% if data.taxons is not empty %}
        <div class="three wide column">
            <div class="ui">
                {% include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_taxons.html.twig' with {'product': data} %}
            </div>
        </div>
    {% endif %}
    {% if data.attributes is not empty %}
        <div class="four wide column">
            <div class="ui ">
                {% include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_attributes.html.twig' with {'product': data} %}
            </div>
        </div>
    {% endif %}
    {% if  data.associations is not empty %}
        <div class="six wide column">
            <div class="ui">
                {% include '@AsdoriaSyliusBulkEditPlugin/Admin/Grid/Field/Product/Details/_associations.html.twig' with {'product': data} %}
            </div>
        </div>
    {% endif %}
</div>
