@import '~alertifyjs/build/css/alertify.min.css';
.sylius-grid-nav__bulk {
    width: 100%;
}

.sylius-grid-table-wrapper > table {
    overflow: hidden;
}

.Loader-block {
    background-color: #e3e3e3;
    background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%
    ) #e3e3e3;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s bg-loading ease-in-out infinite;
}

@keyframes bg-loading {
    to {
        background-position-x: -20%;
    }
}
